.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu460-5
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 24px;
}

#u460-5
{
	z-index: 33;
	width: 265px;
	min-height: 34px;
}

#pamphletu354
{
	z-index: 38;
	width: 0.01px;
	height: 166px;
	padding-bottom: 377px;
	margin-left: 11px;
	margin-top: 28px;
	position: relative;
}

#u367
{
	position: absolute;
	width: 648px;
	left: 257px;
}

#u367popup
{
	z-index: 39;
}

#u373
{
	z-index: 40;
	width: 595px;
	height: 491px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 18px 33px 34px 20px;
}

#u475
{
	z-index: 41;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	position: relative;
}

#u374-6
{
	z-index: 42;
	width: 595px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 22px;
	position: relative;
}

#u368
{
	z-index: 48;
	width: 595px;
	height: 503px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 17px 30px 23px 23px;
}

#u479
{
	z-index: 63;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 18px;
	position: relative;
}

#u369-14
{
	z-index: 49;
	width: 595px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 22px;
	position: relative;
}

#u374-2,#u369-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u369-7,#u369-9
{
	font-style: italic;
}

#u369-10
{
	font-weight: bold;
}

#u378
{
	z-index: 64;
	width: 595px;
	height: 497px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 17px 30px 29px 23px;
}

#u483
{
	z-index: 71;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 18px;
	position: relative;
}

#u379-6
{
	z-index: 65;
	width: 595px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 28px;
	position: relative;
}

#u406
{
	z-index: 72;
	width: 595px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 17px 30px 28px 23px;
}

#u487
{
	z-index: 79;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 18px;
	position: relative;
}

#u486-6
{
	z-index: 73;
	width: 595px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 29px;
	position: relative;
}

#u379-2,#u486-2
{
	color: #6B6B6B;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u379,#u486
{
	font-size: 18px;
	line-height: 22px;
}

#u374-4,#u369-4,#u369-5,#u369-12,#u379-4,#u486-4
{
	line-height: 20px;
	color: #999999;
}

#u360
{
	z-index: 80;
	width: 222px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 6px;
}

#u363
{
	position: absolute;
	width: 235px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: -7px;
	left: -6px;
}

#u363:hover
{
	border-color: #999999;
	width: 235px;
	min-height: 0px;
	margin: 0px;
}

#u364-4
{
	z-index: 82;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u363:hover #u364-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u363.PamphletThumbSelected #u364-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u363:hover #u364-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u365
{
	position: absolute;
	width: 235px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: 33px;
	left: -6px;
}

#u363.PamphletThumbSelected,#u365:hover
{
	border-color: #999999;
	width: 235px;
	min-height: 0px;
	margin: 0px;
}

#u366-4
{
	z-index: 87;
	width: 218px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u365:hover #u366-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u365.PamphletThumbSelected #u366-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u365:hover #u366-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u361
{
	position: absolute;
	width: 235px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	top: 73px;
	left: -6px;
}

#u365.PamphletThumbSelected,#u361:hover
{
	border-color: #999999;
	width: 235px;
	min-height: 0px;
	margin: 0px;
}

#u362-4
{
	z-index: 92;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u361:hover #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u361.PamphletThumbSelected #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u361:hover #u362-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u412
{
	position: absolute;
	width: 235px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	top: 113px;
	left: -6px;
}

#u361.PamphletThumbSelected,#u412:hover
{
	border-color: #999999;
	width: 235px;
	min-height: 0px;
	margin: 0px;
}

#u412.PamphletThumbSelected
{
	border-color: #999999;
	width: 235px;
	min-height: 0px;
	margin: 0px;
}

#u461-4
{
	z-index: 97;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u412:hover #u461-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px -10000px 0px 0px;
}

#u412.PamphletThumbSelected #u461-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px -10000px 0px 0px;
}

#u412:hover #u461-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u363.PamphletThumbSelected #u364-4 p,#u365.PamphletThumbSelected #u366-4 p,#u361.PamphletThumbSelected #u362-4 p,#u412.PamphletThumbSelected #u461-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#menuu414
{
	z-index: 2;
	width: 641px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 299px;
}

#u422
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
}

#u423
{
	width: 126px;
	padding-bottom: 17px;
}

#u423:hover
{
	margin: 0px;
}

#u423:active
{
	margin: 0px;
}

#u415
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 128px;
}

#u416
{
	width: 126px;
	padding-bottom: 17px;
}

#u423.MuseMenuActive,#u416:hover
{
	margin: 0px;
}

#u416:active
{
	margin: 0px;
}

#u424-4,#u418-4
{
	width: 126px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u429
{
	width: 127px;
	min-height: 34px;
	margin-right: -10000px;
	left: 256px;
}

#u430
{
	width: 127px;
	padding-bottom: 17px;
}

#u416.MuseMenuActive,#u430:hover
{
	margin: 0px;
}

#u430:active
{
	margin: 0px;
}

#u453
{
	width: 127px;
	min-height: 34px;
	margin-right: -10000px;
	left: 385px;
}

#u456
{
	width: 127px;
	padding-bottom: 17px;
}

#u430.MuseMenuActive,#u456:hover
{
	margin: 0px;
}

#u456:active
{
	margin: 0px;
}

#u446
{
	width: 127px;
	min-height: 34px;
	margin-right: -10000px;
	left: 514px;
}

#u449
{
	width: 127px;
	padding-bottom: 17px;
}

#u456.MuseMenuActive,#u449:hover
{
	margin: 0px;
}

#u449:active
{
	margin: 0px;
}

#u449.MuseMenuActive
{
	margin: 0px;
}

#u432-4,#u459-4,#u452-4
{
	width: 127px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

